/* header */
.app-default,
body {
  background-color: #ffffff;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: gray;
}

.app-header {
  transition: none;
  display: flex;
  align-items: stretch;
  background-color: #ffffff;
  box-shadow: var(--bs-app-header-base-box-shadow);
  border-bottom: var(--bs-app-header-base-border-bottom);
}
/* 
.icon-header {
  color: #0e41c1 !important;
  font-size: 2rem !important;
} */

.btn-crown {
  font-size: 24px !important;
  color: #fff !important;
}
.black {
  color: #000;
}
.btn-grad {
  background-image: linear-gradient(
    to right,
    #0e41c1 0%,
    #3a7bd5 51%,
    #0047ff 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  transition: all 0.3s ease-in-out;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn-grad.rotate-scale-hover:hover {
  transform: rotate(5deg) scale(1.02);
}
/* end header */

/* sidebar */
.app-sidebar {
  height: 42.5rem !important;
}
div#kt_aside_menu_wrapper {
  padding: 0px !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

span.menu-link, span.menu-link.menu-center:hover svg path {
  transition: all .3s ease-in-out !important;
}

span.menu-link.menu-center:hover {
  background-color: #0e41c1;
}

/* span.menu-link.menu-center:hover i.ki-duotone.ki-home-2.icon-header{
    color: #fff !important;
    border-radius: 10px;
}

span.menu-link.menu-center:hover i.ki-duotone.ki-star.icon-header{
    color: #fff !important;
}

span.menu-link.menu-center:hover i.ki-duotone.ki-message-text-2.icon-header{
    color: #fff !important;
} */

span.menu-link.menu-center:hover svg path {
  fill: #fff !important;
}
span.menu-link.menu-center:hover svg.have-sec-child path:nth-child(2) {
  fill: #0e41c1 !important;
}
span.menu-link.menu-center:hover .ki-duotone,
.ki-outline,
.ki-solid.icon-header {
  color: #fff !important;
  font-size: 2rem;
}
.ki-duotone,
.ki-outline,
.ki-solid {
  line-height: 1;
  font-size: 2.3rem !important;
  color: #0e41c1 !important;
}
/* span.menu-link.menu-center:hover i.ki-duotone.ki-chart-pie-4.icon-header{
    color: #fff !important;
}

span.menu-link.menu-center:hover i.ki-duotone.ki-wallet.icon-header{
    color: #fff !important;
}

span.menu-link.menu-center:hover i.ki-duotone.ki-pin.icon-header{
    color: #fff !important;
}

span.menu-link.menu-center:hover i.ki-duotone.ki-geolocation.icon-header{
    color: #fff !important;
}

span.menu-link.menu-center:hover i.ki-duotone.ki-setting-2.icon-header{
    color: #fff !important;
} */

/* end sidebar */

.white-color {
  color: #ffffff !important;
}
.cyan-color{
  color: #009EF7;
}
.bg-blue {
  background-color: #0e41c1;
}
.bg-green {
  background-color: #DAF9E9;
}
.cyan-bg{
  background-color: #F1FAFF;
}
.purper-bg {
  background: #F8F5FF;
}
.blue {
  color: #0e41c1 !important;
}
.color-green {
  color: #50CD89;
}
.color-light-blue {
  color: #009EF7;
}
.color-black-1 {
  color: #121212 !important;
}
.color-neutral-grey {
  color: #7E7E7E;
}
.purper-color {
  color: #7239EA;
}
.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-25 {
  font-size: 25px;
}

.fs-55 {
  font-size: 55px;
}
.form-custom-input,
.form-custom-select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #121212;
  border-radius: 0px;
}

.form-custom-textarea {
  background-color: transparent;
  border: 1px solid #121212;
}

.form-control.form-custom-textarea:disabled {
  background-color: transparent;
  border: 1px solid #121212;
}

.text-gradients-blue {
  background: -webkit-linear-gradient(#0e41c1, #0047ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-grad-1 {
  background-image: linear-gradient(
    to right,
    #0e41c1 0%,
    #3a7bd5 51%,
    #0047ff 100%
  );
  padding: 15px 45px;
  text-align: center;
  background-size: 200% auto;
  color: #fff;
  border-radius: 8px;
  display: block;
  transition: all 0.3s ease-in-out;
}

.btn-grad-1:hover {
  background-position: top center;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.dashed-bottom-table tr {
  border-bottom: 2px dashed rgba(0, 0, 0, 0.2) !important;
}

.bg-gray {
  background-color: #f8f5ff !important;
}

.bg-light-blue {
  background-color: #F1FAFF;
}

.fw-600 {
  font-weight: 600 !important;
}

.custom-table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.custom-table th,
.custom-table td {
  padding: 15px 20px 15px 20px !important;
}
.custom-table thead tr {
  background-image: linear-gradient(
    to right,
    #0e41c1 0%,
    #3a7bd5 51%,
    #0047ff 100%
  );
}
.custom-table thead tr th:first-child {
  border-top-left-radius: 15px;
}
.custom-table thead tr th:last-child {
  border-top-right-radius: 15px;
}
.gray {
  color: gray;
}
.soft-blue {
  color: #a3aed0;
}

.templ-list {
  height: 340px;
  overflow-y: scroll;
}

.template-border-bottom {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.20);
}
.form-control.form-control-solid {
  border-color: #000;
  border: 1px solid #80808000;
  border-bottom: 1px solid black;
  color: var(--bs-gray-700);
  transition: color .2s ease;
  border-radius: 0px;
  background-color: #f0f8ff00;
}
button.btn.btn-secondary.buttons-csv.buttons-html5,
button.btn.btn-secondary.buttons-excel.buttons-html5,
button.btn.btn-secondary.buttons-pdf.buttons-html5{
  background: #006ae6;
    margin: 4px;
    border-radius: 8px;
    color: white;
}

.buttons-html5 {
  background: -webkit-linear-gradient(#0e41c1, #0047ff) !important;
  color: #FFFFFF !important;
}

.cutom-tabs .nav-line-tabs.nav-line-tabs-2x .nav-item .nav-link.active,
.cutom-tabs .nav-line-tabs.nav-line-tabs-2x .nav-item .nav-link:hover{
  color: #121212 !important;
  border-bottom-color: #0047ff;
  border-bottom-width: 2px;
}

:not(pre)>code[class*=language-], pre[class*=language-] {
  background: #121212 !important;
  border-radius: 10px;
}

.fs-12.cyan-color.fw-bold.cyan-bg.rounded-2.p-2.cyan-border.mb-4.w-fit {
  border: 1px solid !important;
}
.border-gray{
  border: 1px solid #c3c3c3;
  border-radius: 6px;
}